services:
  devcontainer:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        USER: ${USER}
    env_file:
      - .env.devcontainer

    volumes:
      - ..:/workspace

    command: sleep infinity
    # network_mode: service:db